# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter and IPython
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment and secrets
.env
.env.*

# Streamlit
.streamlit/

# Logs
*.log

# Misc
*.sqlite3
